<launch>

	<param name='robot_description' textfile='$(find my_robot)/robot_model/urdf/my_robot_model.urdf'/>
	<node name='spawn_urdf' pkg='gazebo_ros' type='spawn_model'
        args='-param robot_description -urdf -model my_robot_model -z 0.2'/>

	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find move_and_perceive)/models"/>

    <node name='robot_state_publisher' pkg='robot_state_publisher'
        type='robot_state_publisher'/>

	<include file='$(find gazebo_ros)/launch/empty_world.launch'>
		<arg name='world_name' value='$(find move_and_perceive)/worlds/yellow_line_world.world'/>
		<arg name='paused' value='false'/>
		<arg name='use_sim_time' value='true'/>
		<arg name='gui' value='true'/>
		<arg name='headless' value='false'/>
		<arg name='debug' value='false'/>
	</include>
</launch>
